//VARIABLES

$color-primary: #199fd9;
$color-secondary: #283A97;
$color-tertiary: #f08429;
$color-tertiary-dark: #df7216;
$color-background-body: #f2f2f2;
$color-white: #fff;
$color-text: #76645d;
$color-text-newshead: #4a5591;

$spacing-small: .5rem;
$spacing-large: 1.5rem;